/*ninjaFolio.css*/
/* header img{
  -webkit-filter: opacity(10%) blur(3px);
} */
.majorContents img{
  /* width: 25%; */
  margin: 2em auto;
  margin: 2rem auto;
  display: block;
  transition:1s;
  cursor: pointer;
}
.majorContents img:hover, .imgFlex img:hover{
transform: scale(1.03);
}
h3{
  margin:1em 0;
  margin:1rem 0;
}
.nestedList2{
  line-height: 2em;
  line-height: 2rem;
}
.wireframeRows, .prototypeRows{
  display:flex;
  display:-webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  float:left;
}
.wireframeRows img, .prototypeRows img{
  object-fit:fill;
  overflow:hidden;
  flex:1;
  -webkit-flex:1;
  margin:.6em;
  transition:1s;
  cursor: pointer;
  max-width:20%;
  display: block;
}
.prototypeRows img{
  max-width: 30%;
}
.wireframeRowsMob, .prototypeRowsMob{
  display: none;
}
@media (max-width: 601px) {
  main{
    margin:0;
    width:100%;
  }
  header{
    position:relative;
    margin: 0;
    width: 100%;
    height:auto;
  }
  header > img{
    height: 100%;
    width:100%;
  }
  header > h1{
    font-size: 1.5em;
    font-size: 1.5rem;
    margin: 0 0 0 3em;
    margin: 0 0 0 3rem;

    padding: .5em 0 1em 0;
    padding: .5rem 0 1rem 0;
  }
  header > p{
    margin: 1em 2em;
    margin: 1rem 2rem;
  }
  .majorContents{
    position:static;
  }
  .majorContents > img{
    width:100%;
  }
  .wireframeRows, .prototypeRows{
    display: none;
  }
  .wireframeRowsMob, .prototypeRowsMob{
    /* display: block; */
    display: flex;
    display:-webkit-flex;
    width:100%;
    float:left;
    align-items: center;
    min-height: 32em;
    min-height: 32rem;
    height: auto;
  }
  .sliderButton{
    font-size: 36px;
    padding: 1em;
    padding: 1rem;
    color:#190654;
    background-color: #e0f7fa;
    border-radius: 0;
  }
  .sliderButton:hover{
    border: none;
  }
  .mySlides, .mySlides1{
    display:none;
    float:left;
    width:70%;
    margin: 0 auto;
  }
}
